@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.title-style {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  width: 392px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-underline {
  border-top: 2px solid #563d7c;
}

.img-fluid.mb-4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.table {
  margin-bottom: 4rem;
}

.table thead th {
  background-color: #333A40;
  color: #fff;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.totales {
  margin-top: -3rem;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.total-cafe-origen,
.total-cafe-blend {
  margin-bottom: 0.25rem;
}

.contact-row {
  margin-top: 3rem;
}

.contact-info {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
